body {
    background-color: rgb(1, 92, 160);
    font-size: large;
    color:aliceblue;

 }

Header{
    
    justify-content:center;
 }
 
 h3{
    justify-content: flex-end;
 }

.card{
    color: black;
    background-color: rgb(110, 112, 113);
}