body {
    background-color: rgb(28, 45, 58);
    font-size: large;
    color:aliceblue;

 }

h1{
    
    justify-content:center;
    justify-self: center;
 }
 
 h3{
    justify-content: flex-end;
 }

.card{
    color: black;
    background-color: rgb(110, 112, 113);
}
